extends layout

block content
  h1= title
  // Display username if a user is logged in
  if c_user
    p Welcome to #[em Members Only], #[a(href=c_user.url) #{c_user.username}]!
  else
    p Welcome to #[em Members Only].

  p The message board has the following record counts:

  ul
    li #[strong Users:] !{user_count}
    li #[strong Messages:] !{message_count}
